body {
  font-family: 'Arial', sans-serif;
  text-transform: capitalize;
  color: #333;     
}

html, body {
  overflow-x: hidden;
}

 a::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
   width: 0;
   height: 2px;
   background: #fc4902e0 ;
   transition: width 0.3s ease;
   border-radius: 10px;
   justify-content: center !important;
   text-align: center !important;
        }

a:hover::after {
    justify-content: center !important;
    width: 100%;
    text-align: center !important;
 }

.navbar-expand-lg{
  background-color: black !important;
 }
.navbar-nav  {
  margin-right: 50px !important;
}
.nav-item{

 margin-right: 10px !important;

}
.n-sp{
   color: #fc4902e0 !important;
}

 .n{
margin-left: 5% !important;
 }

.navbar-nav{ 
font-size: 14px !important; 

 }
       
 li,a{
   transition: all 0.5s ease !important;
  color: #f0f8ff !important;
  position: relative;
        }

 a:hover{
  color: #fc4902e0 !important;
 }

 /* hed section 1 */

.had-img {
    background-image: url("/farst test are websaite/parsnal pro/parsnl-all-img/par3-had.jpg");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    justify-content: center !important;
  width: 100% !important; 
  height: 100vh !important;
  margin-top: 70px !important;
  flex-direction: column;
  display: flex;
}

.clr{
   color: #fc4902e0 !important;
}

.ab-h1{
  font-size: clamp(1.5rem,5vw,5rem) !important;
   color: #000;   }

@media(max-width: 991px){
  .had-img { max-height: 400px;
    margin-top: 73px !important;
  
  }
 }

 @media(max-width: 767px){
  .had-img { max-height: 300px;
  
  }
  #k{
display: flex !important;
  flex-direction: column !important;

  padding-left: 20% !important;
gap: 5%;
  }
   .page{

  margin-top:5px !important;
  margin-bottom: 5px !important;
          border: none !important;
    }
     
}

/* sectio 2 */

.product-box {
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(19, 18, 18, 0.2); 
  transition: 0.3s ease-in-out; 
}
.product-box:hover  {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
 .page:hover,.page-btn:hover {
    background-color:#fc4902e0 !important;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

.product-box img {
  width: 100%;
  height: 250px;
}

.star{
  font-size: 25px !important;
  color:gold;
 }

.rew{
  font-size: 13px !important;
  color: crimson;
}

.hading{
  color: rgb(8, 111, 207);
}

.s3-h3{
  font-size: clamp(1.5rem,2.5vw,5rem) !important;
       }

 /* js paginaction */
       .section {
      display: none;
    }
    .section.active {
      display: block;
    }
      .page-btn {
      background-color: #fff;
      border: none;
    
 padding: 10px 20px;
      cursor: pointer;
      border: 2px solid rgb(7, 7, 7);
      border-radius: 15%;
      transition: 0.3s ease-in-out;
    }
     .page{
      background-color: #eee8e8 !important;
     cursor: pointer;
      transition: 0.3s ease-in-out;
      width: 160px !important;
      border: none !important;
      color: #000 !important;
  margin-top: 2px !important;
  margin-bottom: 20px !important;
          border: none !important;
    }
    #k{
 
   



     display: flex; 
 
  
   justify-content: center !important;
   gap: 10px;
}

  

.page,.page-btn.active {
      background-color: #007bff;
      color: #fff;
    }

.der{
  border-radius:500px !important ;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

.der.page-btn:hover {
  background-color: #06ffff !important;
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

/* inter section observ */
  .slide-left {
  transform: translateX(-100px);
  transition: all 0.8s ease-out;
  opacity: 0;
}

.slide-zoomin{
  transition: all 0.8s ease-out;
  opacity: 0;
  transform: scale(1.09);
}

.slide-right {
  transform: translateX(100px);
  transition: all 0.8s ease-out;
  opacity: 0;
}

.slide-up {
  transform: translateY(100px);
  transition: all 0.8s ease-out;
  opacity: 0;
}

.in-view {
  opacity: 1;
  transform: none;
}
