
body {
  font-family: 'Arial', sans-serif;
  text-transform: capitalize;
  color: #333;     
}

html, body {
  overflow-x: hidden;
}

a::after {
     content: '';
     position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
     height: 2px;
     background: #fc4902e0 ;
     transition: width 0.3s ease;
     border-radius: 10px;
     justify-content: center !important;
     text-align: center !important;
        }

 a:hover::after {
    justify-content: center !important;
    width: 100%;
    text-align: center !important;
     }

.navbar-expand-lg{
  background-color: black !important;
 }

.n-sp{
  color: #fc4902e0 !important;
 }

.n{
  margin-left: 5%!important;
 }
 .navbar-nav  {
  margin-right: 50px !important;
}
.nav-item{

 margin-right: 10px !important;

}

.navbar-nav{ 
   font-size: 14px !important; 
}
     
li,a{
  transition: all 0.5s ease !important;
  color: #f0f8ff !important;
  position: relative;
    }

a:hover{
  color: #fc4902e0 !important;
  }

        /* hed section 1 */

.had-img {
   background-image: url("parsnl-all-img/par2.had.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   text-align: center;
   justify-content: center;
   width: 100% !important; 
   height: 100vh !important;
   margin-top: 70px !important;
   flex-direction: column;
   display: flex;
}
@media(max-width: 991px){
  .had-img { max-height: 400px;
    margin-top: 70px !important; }
 }

@media(max-width: 767px){
.had-img { max-height: 300px; }
/* last section img */
  .img-last{

  width: 100% !important;
height: 100% !important;

}
 
  }


.clr{
color: #fc4902e0 !important
} 

.ab-h1{
   font-size: clamp(1.5rem,5vw,5rem) !important;
   color: hsl(0, 0%, 3%);   }

/* sectio 2 */

.ss{
  border: none !important;
  border-radius: 0px 0px 10px 10px !important;
}

.img-ab{
  display: inline-block;
  width: 100% !important;
  height: 90%;
} 

/* section 3 */

.product-box {
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(19, 18, 18, 0.2); /* 👈 shadow */
  transition: 0.3s ease-in-out; /* smooth hover animation */
}

.product-box:hover {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.product-box img {
  width: 100%;
  height: 250px;
}

.star{
font-size: 25px !important;
    color:gold;
 }

.rew{
font-size: 13px !important;
color: crimson;
}

.hading{
 color: rgb(8, 111, 207);
}

.s3-h3{
font-size: clamp(1.5rem,2.5vw,5rem) !important;
 }

/* section 4 */
.s-4-had{
  color: rgb(78, 78, 114);
}

.s-4-h2{
  color: rgb(8, 111, 207);
}

.s4-p{
  color: #222020 !important;
}

.s-4-btn{
   background-color:  rgba(160, 16, 23, 0.979);
   z-index: 5000;
   border-radius: 50px !important;
   color: #f8f5f5;
}

.img-ab{
 display: inline-block;
 width: 100% !important;
 height: 90%;
}

/* section 5 */

  /* foter */
.p-fotre{
  font-size: 14px !important;
 }

 .btn-foter{
   background-color: rgba(160, 16, 23, 0.979);
    border-radius: 50px !important;
    color: #f8f5f5;
 }

.foter{
  background-color: #afa9a9;
 }

   /* inter section obsrve */
.slide-left {
  transform: translateX(-100px);
   transition: all 0.8s ease-out;
   opacity: 0;
}

.slide-zoomin{
    transition: all 0.8s ease-out;
    opacity: 0;
     transform: scale(1.09);
}

.slide-right {
   transform: translateX(100px);
   transition: all 0.8s ease-out;
   opacity: 0;
}

.slide-up {
   transform: translateY(100px);
   transition: all 0.8s ease-out;
   opacity: 0;
}

.in-view {
  opacity: 1;
  transform: none;
}
